
  <div class="form-group">
    <label for="longitude">Latitude</label>
    <input type="text" class="form-control" id="longitude" aria-describedby="emailHelp" placeholder="Enter Latitude" style="width: 300px;">

    <label for="latitude">Longitude</label>
    <input type="text" class="form-control" id="latitude" placeholder="Enter Longitude" style="width: 300px;">
  </div>
  <br>
  <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>

<br>
<div class="score" id="resultBox">
  <p id="soilScore">Output</p>
</div>

